body{
  margin: 0;
  background-color: #f4f4f4;
}
p{
  margin: 0;
}
.top {
  margin: 0;
  background-color: blue;
}
.left{
  background-color: tomato;
  display: inline-block;
  float:left;
  height: 400px;
  width: 400px;
}
.right{
background-color: purple;
display: inline-block;
float: right;
height: 400px;
width: 400px;
}
.main{
  display: inline-block;

}
.bottom{
  background-color: green;
}
.parent{
  width: 800px;
  margin: auto;
}
